.Wrapper {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  max-height: calc(100vh - var(--header-height));
  position: relative;
  width: 100%;
}

.ImageWrapper {
  display: flex;
  height: 100%;
  max-height: inherit;
  max-width: 100%;
  width: 100%;

  & .ImageInnerWrapper,
  & .Image {
    display: block;
    margin: auto;
    max-height: inherit;
    max-width: 100%;
  }
}
