<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>

  <main id="app"></main>
</body>

</html>