@import '../../styles/media.css';

.Header {
  background: var(--c-primary);
  box-shadow: 0px 3px 10px var(--c-black-a2);
  display: block;
  flex: 0;
  height: var(--header-height);
  padding: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;

  & .Link {
    color: var(--c-white);
    font-size: 1.2rem;
    text-decoration: none;
  }
}

.Content {
  background: var(--c-light);
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  width: 100%;
}

@media (--sm-viewport) {
  .Content {
    background: var(--c-black);
  }
}
