@import '../../../../styles/media.css';

.Toolbox {
  align-items: center;
  background: var(--c-light-a7);
  border: 1px solid var(--c-dark);
  bottom: 20px;
  display: flex;
  left: 50%;
  max-width: 50vw;
  padding: 20px 10px;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;

  & .Editor {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    position: relative;

    & .Name {
      appearance: none;
      background: transparent;
      border: none;
      border-bottom: 1px solid var(--c-dark);
      box-shadow: none;
      color: var(--c-black);
      display: inline-flex;
      font-size: 1.2rem;
      margin-right: 10px;
      max-width: 25%;
      outline: none;
      padding: 5px 10px;
      width: 100%;
    }

    & .SaveButton {
      margin-right: 5px;
    }

    & .ErrorMessage {
      bottom: -14px;
      color: var(--c-red);
      font-size: 0.7rem;
      left: 0;
      position: absolute;
    }
  }

  & .RemoveButton {
    margin-left: auto;
  }
}

@media (--sm-viewport) {
  .Toolbox {
    background: var(--c-black-a7);
    max-width: 100vw;

    & .Editor {
      & .Name {
        border-color: var(--c-light);
        color: var(--c-white);
      }

      & .ErrorMessage {
        color: var(--c-red-1);
      }
    }
  }
}

@media (--lg-viewport) {
  .Toolbox {
    max-width: 90vw;

    & .Editor {
      & .Name {
        max-width: 50%;
      }
    }
  }
}
