@import './styles/dependencies.css';
@import './styles/media.css';

:root {
  --c-white: #fff;
  --c-black: #000;
  --c-black-a2: rgba(0, 0, 0, 0.2);
  --c-black-a7: rgba(0, 0, 0, 0.7);
  --c-light: #f5f5f6;
  --c-light-a7: rgba(245, 245, 246, 0.7);
  --c-dark: #424242;
  --c-primary: #00838f;
  --c-red: #c62828;
  --c-red-1: #ef9a9a;

  --image-list-columns: 4;
  --image-list-gap: 10px;
  --header-height: 42px;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  min-width: 320px;
}

:global {
  & #app {
    display: flex;
    flex-flow: column wrap;
    min-height: 100%;
    width: 100%;
  }
}

@media (--lg-viewport) {
  :root {
    --image-list-columns: 3;
  }
}

@media (--md-viewport) {
  :root {
    --image-list-columns: 2;
  }
}

@media (--sm-viewport) {
  :root {
    --image-list-columns: 1;
  }
}
