.IconButton {
  appearance: none;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--c-dark);
  border-radius: 3px;
  color: var(--c-black);
  cursor: pointer;
  display: inline-flex;
  font-size: 1.3rem;
  margin: 0;
  outline: none;
  padding: 3px;
  transition: background 0.2s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.9);
  }

  &:focus {
    background: rgba(255, 255, 255, 1);
  }
}
