@import '../../styles/media.css';

.Wrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  width: 100%;
}

.NoImagesMessage {
  font-size: 1.4rem;
  font-weight: 300;
  margin: auto;
}

@media (--sm-viewport) {
  .NoImagesMessage {
    color: var(--c-white);
  }
}
