@import '../../../../styles/media.css';

.Wrapper {
  box-shadow: 0px 0px 5px var(--c-black-a2);
  display: flex;
  flex: 0 1 calc(100% / var(--image-list-columns) - 2 * var(--image-list-gap));
  margin: 0 var(--image-list-gap) calc(var(--image-list-gap) * 2);
}

.InnerWrapper {
  margin: auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.Image {
  display: block;
  margin: auto;
  max-width: 100%;
}

.Name {
  background: var(--c-light-a7);
  bottom: 0;
  color: var(--c-black);
  left: 0;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 5px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media (--sm-viewport) {
  .Name {
    background: var(--c-black-a7);
    color: var(--c-white);
  }
}
